SQL 练习

In [ ]:
-- 595. 大的国家
-- https://leetcode.cn/problems/big-countries/description/

SELECT name,
    population,
    area
FROM
    World
WHERE
    area >= 3000000
    OR population >= 25000000;

In [ ]:
-- 627. 变更性别
-- https://leetcode.cn/problems/swap-salary/description/

UPDATE salary
SET
    sex = CASE sex
        WHEN 'm' THEN 'f'
        ELSE 'm'
    END;

In [ ]:
-- 620. 有趣的电影
-- https://leetcode.cn/problems/not-boring-movies/description/

-- 注意是 id%2=1
SELECT id, movie, description, rating
FROM cinema
WHERE description != 'boring' AND id%2=1
ORDER BY rating DESC

In [ ]:
-- 596. 超过 5 名学生的课
-- https://leetcode.cn/problems/classes-more-than-5-students/description/

SELECT class
FROM Courses
GROUP BY class
HAVING COUNT(student)>=5

In [ ]:
-- 182. 查找重复的电子邮箱
-- https://leetcode.cn/problems/duplicate-emails/description/

SELECT email
FROM person
GROUP BY email
HAVING count(email)>1

In [ ]:
-- 196. 删除重复的电子邮箱
-- https://leetcode.cn/problems/delete-duplicate-emails/description/

DELETE p1
FROM
    Person p1,
    Person p2
WHERE
    p1.Email = p2.Email
    AND p1.Id > p2.Id

In [ ]:
-- 175. 组合两个表
-- https://leetcode.cn/problems/combine-two-tables/description/

SELECT
    firstName, lastName, city, state
FROM Person LEFT JOIN Address
ON Person.PersonId = Address.PersonId;

In [ ]:
-- 181. 超过经理收入的员工
-- https://leetcode.cn/problems/employees-earning-more-than-their-managers/description/

SELECT
    a.Name AS 'Employee'
FROM
    Employee AS a,
    Employee AS b
WHERE
    a.ManagerId = b.Id
        AND a.Salary > b.Salary;

In [ ]:
-- 183. 从不订购的客户
-- https://leetcode.cn/problems/customers-who-never-order/description/

SELECT
    Name AS Customers
FROM
    Customers
WHERE
    Id NOT IN ( 
        SELECT CustomerId 
        FROM Orders 
    );

In [ ]:
-- 184. 部门工资最高的员工
-- https://leetcode.cn/problems/department-highest-salary/description/

SELECT
    Department.name AS 'Department',
    Employee.name AS 'Employee',
    Salary
FROM
    Employee
        JOIN
    Department ON Employee.DepartmentId = Department.Id
WHERE
    (Employee.DepartmentId , Salary) IN
    (   SELECT
            DepartmentId, MAX(Salary)
        FROM
            Employee
        GROUP BY DepartmentId
    );