In [ ]:
-- 577. 员工奖金
-- https://leetcode.cn/problems/employee-bonus/description/?envType=study-plan-v2&envId=sql-free-50

SELECT A.name, B.bonus
FROM Employee A LEFT JOIN Bonus B
ON A.empId = B.empId
WHERE B.bonus<1000 OR B.bonus IS NULL

In [ ]:
-- 1280. 学生们参加各科测试的次数
-- https://leetcode.cn/problems/students-and-examinations/description/?envType=study-plan-v2&envId=sql-free-50

-- join等价于inner join，不用关联条件的join等价于cross join
SELECT
    s.student_id,
    s.student_name,
    su.subject_name,
   COUNT(e.subject_name) AS attended_exams
FROM
    Students AS s
JOIN
    Subjects AS su
LEFT JOIN
    Examinations AS e
ON
    e.student_id = s.student_id
AND
    e.subject_name = su.subject_name
GROUP BY
    s.student_id,
    su.subject_name
ORDER BY
    s.student_id,
    su.subject_name

In [ ]:
-- 570. 至少有5名直接下属的经理
-- https://leetcode.cn/problems/managers-with-at-least-5-direct-reports/?envType=study-plan-v2&envId=sql-free-50

SELECT A.name
FROM Employee A JOIN Employee B
ON A.id = B.managerId
GROUP BY A.id
HAVING COUNT(B.id)>=5

In [ ]:
-- 1934. 确认率
-- https://leetcode.cn/problems/confirmation-rate/?envType=study-plan-v2&envId=sql-free-50

-- 使用 IFNULL 把 NULL 值转换为0
-- 学习 AVG 的用法
SELECT
    s.user_id,
    ROUND(IFNULL(AVG(c.action='confirmed'), 0), 2) AS confirmation_rate
FROM
    Signups AS s
LEFT JOIN
    Confirmations AS c
ON
    s.user_id = c.user_id
GROUP BY
    s.user_id

In [ ]:
-- 620. 有趣的电影
-- https://leetcode.cn/problems/not-boring-movies/?envType=study-plan-v2&envId=sql-free-50

-- 注意是 id%2=1
SELECT id, movie, description, rating
FROM cinema
WHERE description != 'boring' AND id%2=1
ORDER BY rating DESC

In [ ]:
-- 1251. 平均售价
-- https://leetcode.cn/problems/average-selling-price/?envType=study-plan-v2&envId=sql-free-50

SELECT A.product_id, ROUND(IFNULL(SUM(units*price)/SUM(units), 0) ,2) average_price
FROM Prices A LEFT JOIN UnitsSold B
ON A.product_id = B.product_id
WHERE B.purchase_date BETWEEN A.start_date AND end_date OR B.product_id IS NULL
GROUP BY A.product_id

In [ ]:
-- 1075. 项目员工 I
-- https://leetcode.cn/problems/project-employees-i/description/?envType=study-plan-v2&envId=sql-free-50

SELECT A.project_id, ROUND(AVG(experience_years),2) average_years
FROM Project A LEFT JOIN Employee B
ON A.employee_id = B.employee_id
GROUP BY A.project_id

In [ ]:
-- 1633. 各赛事的用户注册率
-- https://leetcode.cn/problems/percentage-of-users-attended-a-contest/description/?envType=study-plan-v2&envId=sql-free-50

-- 注意分母写法
-- 分子代表根据contest_id分组后每组中user_id个数
-- 分母代表Users表中user_id个数
SELECT
    r.contest_id,
    ROUND(COUNT(r.user_id)/(SELECT COUNT(*) FROM Users) * 100,2) percentage
FROM
    Users AS u 
RIGHT JOIN
    Register AS r 
ON
    u.user_id = r.user_id
GROUP BY
    r.contest_id
ORDER BY
    percentage DESC,
    contest_id ASC

In [ ]:
-- 1211. 查询结果的质量和占比
-- https://leetcode.cn/problems/queries-quality-and-percentage/description/?envType=study-plan-v2&envId=sql-free-50

-- SUM(rating < 3) / COUNT(1)
SELECT
query_name,
ROUND(AVG(rating/position),2) quality,
ROUND(100*AVG(rating<3),2) poor_query_percentage
FROM Queries
GROUP BY query_name
HAVING query_name IS NOT NULL

In [ ]:
-- 1193. 每月交易 I
-- https://leetcode.cn/problems/monthly-transactions-i/description/?envType=study-plan-v2&envId=sql-free-50

-- left(trans_date,7)
SELECT 
    DATE_FORMAT(trans_date, '%Y-%m') month,
    country,
    COUNT(state) trans_count,
    SUM(IF(state = 'approved', 1, 0)) approved_count,
    SUM(amount) trans_total_amount,
    SUM(IF(state = 'approved', amount, 0)) approved_total_amount
FROM 
    Transactions
GROUP BY
    month, country;