In [ ]:
-- 577. 员工奖金
-- https://leetcode.cn/problems/employee-bonus/description/?envType=study-plan-v2&envId=sql-free-50

SELECT A.name, B.bonus
FROM Employee A LEFT JOIN Bonus B
ON A.empId = B.empId
WHERE B.bonus<1000 OR B.bonus IS NULL

In [ ]:
-- 1280. 学生们参加各科测试的次数
-- https://leetcode.cn/problems/students-and-examinations/description/?envType=study-plan-v2&envId=sql-free-50

-- join等价于inner join，不用关联条件的join等价于cross join
SELECT
    s.student_id,
    s.student_name,
    su.subject_name,
   COUNT(e.subject_name) AS attended_exams
FROM
    Students AS s
JOIN
    Subjects AS su
LEFT JOIN
    Examinations AS e
ON
    e.student_id = s.student_id
AND
    e.subject_name = su.subject_name
GROUP BY
    s.student_id,
    su.subject_name
ORDER BY
    s.student_id,
    su.subject_name