In [ ]:
-- 619. 只出现一次的最大数字
-- https://leetcode.cn/problems/biggest-single-number/?envType=study-plan-v2&envId=sql-free-50

-- 子查询必须有一个别名
SELECT MAX(num) num
FROM (
    SELECT num
    FROM MyNumbers
    GROUP BY num
    HAVING COUNT(num)=1
) A

In [ ]:
-- 1045. 买下所有产品的客户
-- https://leetcode.cn/problems/customers-who-bought-all-products/description/?envType=study-plan-v2&envId=sql-free-50

SELECT customer_id
FROM Customer
GROUP BY customer_id
HAVING COUNT(DISTINCT(product_key))=(
    SELECT COUNT(*)
    FROM Product
)

In [ ]:
-- 1731. 每位经理的下属员工数量
-- https://leetcode.cn/problems/the-number-of-employees-which-report-to-each-employee/?envType=study-plan-v2&envId=sql-free-50

SELECT A.employee_id, A.name,
COUNT(*) reports_count, ROUND(AVG(B.age),0) average_age
FROM Employees A JOIN Employees B
ON A.employee_id = B.reports_to
GROUP BY A.employee_id
ORDER BY A.employee_id

In [ ]:
-- 1789. 员工的直属部门
-- https://leetcode.cn/problems/primary-department-for-each-employee/?envType=study-plan-v2&envId=sql-free-50

SELECT employee_id, department_id
FROM Employee
WHERE primary_flag = 'Y'
UNION
SELECT employee_id, MIN(department_id)
FROM Employee
GROUP BY employee_id
HAVING COUNT(*)=1

In [ ]:
-- 610. 判断三角形
-- https://leetcode.cn/problems/triangle-judgement/description/?envType=study-plan-v2&envId=sql-free-50

SELECT x,y,z,case when
x+y>z AND y+z>x AND x+z>y
THEN 'Yes'
ELSE 'No'
end triangle
FROM Triangle

In [ ]:
-- 180. 连续出现的数字
-- https://leetcode.cn/problems/consecutive-numbers/description/?envType=study-plan-v2&envId=sql-free-50

SELECT DISTINCT A.num ConsecutiveNums
FROM Logs A, Logs B, Logs C
WHERE A.id = B.id-1 AND B.id = C.id-1
AND A.num = B.num AND B.num = C.num

In [ ]:
-- 1164. 指定日期的产品价格
-- https://leetcode.cn/problems/product-price-at-a-given-date/description/?envType=study-plan-v2&envId=sql-free-50

-- 如果产品没有价格，说明没有修改过，设置为 10
select p1.product_id, ifnull(p2.new_price, 10) as price
from (
    select distinct product_id
    from products
) as p1 -- 所有的产品
left join (
    select product_id, new_price 
    from products
    where (product_id, change_date) in (
        select product_id, max(change_date)
        from products
        where change_date <= '2019-08-16'
        group by product_id
    )
) as p2 -- 在 2019-08-16 之前有过修改的产品和最新的价格
on p1.product_id = p2.product_id

In [ ]:
-- 1204. 最后一个能进入巴士的人
-- https://leetcode.cn/problems/last-person-to-fit-in-the-bus/description/?envType=study-plan-v2&envId=sql-free-50

-- 直到当前人的重量的总和
SELECT a.person_name
FROM Queue a, Queue b
WHERE a.turn >= b.turn
GROUP BY a.person_id HAVING SUM(b.weight) <= 1000
ORDER BY a.turn DESC
LIMIT 1