In [ ]:
-- 626. 换座位
-- https://leetcode.cn/problems/exchange-seats/description/?envType=study-plan-v2&envId=sql-free-50

-- 首先查询座位的数量
-- SELECT COUNT(*) C
-- FROM Seat
SELECT
(
    CASE
    WHEN MOD(id,2)!=0 AND id!=C THEN id+1
    WHEN MOD(id,2)!=0 AND id=C THEN id
    ELSE id-1
    END
) id,
student
FROM
Seat,
(
    SELECT COUNT(*) C
    FROM Seat
) A
ORDER BY id

In [ ]:
-- 1341. 电影评分
-- https://leetcode.cn/problems/movie-rating/description/?envType=study-plan-v2&envId=sql-free-50

(SELECT
U.name results
FROM Users U
JOIN MovieRating M
ON U.user_id=M.user_id
GROUP BY U.user_id
ORDER BY COUNT(*) DESC, U.name
LIMIT 1)

UNION ALL

(SELECT
M.title results
FROM Movies M
JOIN MovieRating R
ON M.movie_id=R.movie_id
AND R.created_at LIKE '2020-02%'
GROUP BY M.title
ORDER BY AVG(R.rating) DESC, M.title
LIMIT 1)

In [ ]:
-- 1321. 餐馆营业额变化增长
-- https://leetcode.cn/problems/restaurant-growth/description/?envType=study-plan-v2&envId=sql-free-50