In [ ]:
-- 626. 换座位
-- https://leetcode.cn/problems/exchange-seats/description/?envType=study-plan-v2&envId=sql-free-50

-- 首先查询座位的数量
-- SELECT COUNT(*) C
-- FROM Seat
SELECT
(
    CASE
    WHEN MOD(id,2)!=0 AND id!=C THEN id+1
    WHEN MOD(id,2)!=0 AND id=C THEN id
    ELSE id-1
    END
) id,
student
FROM
Seat,
(
    SELECT COUNT(*) C
    FROM Seat
) A
ORDER BY id

In [ ]:
-- 1341. 电影评分
-- https://leetcode.cn/problems/movie-rating/description/?envType=study-plan-v2&envId=sql-free-50

(SELECT
U.name results
FROM Users U
JOIN MovieRating M
ON U.user_id=M.user_id
GROUP BY U.user_id
ORDER BY COUNT(*) DESC, U.name
LIMIT 1)

UNION ALL

(SELECT
M.title results
FROM Movies M
JOIN MovieRating R
ON M.movie_id=R.movie_id
AND R.created_at LIKE '2020-02%'
GROUP BY M.title
ORDER BY AVG(R.rating) DESC, M.title
LIMIT 1)

In [ ]:
-- 1321. 餐馆营业额变化增长
-- https://leetcode.cn/problems/restaurant-growth/description/?envType=study-plan-v2&envId=sql-free-50

-- 隐式连接
-- 注意不是每七天分组
select 
    t1.visited_on, 
    sum(t2.amount) amount, 
    round(sum(amount)/7, 2) average_amount
from (
    select distinct visited_on from Customer) t1,
    Customer t2, (
    select min(visited_on) min_date from Customer) t3
where 
    datediff(t1.visited_on, t2.visited_on) <= 6
    and datediff(t1.visited_on, t2.visited_on) >= 0
    and datediff(t1.visited_on, min_date) >= 6
group by t1.visited_on

In [ ]:
-- 602. 好友申请 II ：谁有最多的好友
-- https://leetcode.cn/problems/friend-requests-ii-who-has-the-most-friends/?envType=study-plan-v2&envId=sql-free-50

SELECT id, 
COUNT(*) num
FROM (
    SELECT requester_id id FROM RequestAccepted
    UNION ALL
    SELECT accepter_id id FROM RequestAccepted
) A
GROUP BY id
ORDER BY num DESC
LIMIT 1

In [ ]:
-- 585. 2016年的投资
-- https://leetcode.cn/problems/investments-in-2016/description/?envType=study-plan-v2&envId=sql-free-50

-- 挺妙的，至少有一个相同，所以找分类后只有一个数的
SELECT ROUND(SUM(tiv_2016), 2) tiv_2016
FROM Insurance
WHERE pid NOT IN (
    SELECT pid
    FROM Insurance
    GROUP BY tiv_2015
    HAVING COUNT(*)=1
) AND pid IN (
    SELECT pid
    FROM Insurance
    GROUP BY lat, lon
    HAVING COUNT(*)=1
)

In [ ]:
-- 185. 部门工资前三高的所有员工
-- https://leetcode.cn/problems/department-top-three-salaries/description/?envType=study-plan-v2&envId=sql-free-50

-- 子查询代表对于e1的每一个薪资来看，统计e2中大于这个薪资的薪资个数
-- 个数必须小于3，从而e1中的这个薪资才能排进前三
SELECT
    d.Name AS 'Department', e1.Name AS 'Employee', e1.Salary
FROM
    Employee e1
        JOIN
    Department d ON e1.DepartmentId = d.Id
WHERE
    3 > (SELECT
            COUNT(DISTINCT e2.Salary)
        FROM
            Employee e2
        WHERE
            e2.Salary > e1.Salary
                AND e1.DepartmentId = e2.DepartmentId
        )

In [ ]:
-- 1667. 修复表中的名字
-- https://leetcode.cn/problems/fix-names-in-a-table/?envType=study-plan-v2&envId=sql-free-50

-- SUBSTRING(column_name, start, length)提取一个子字符串
-- UPPER(expression)
-- LOWER(expression)
-- CONCAT(string1, string2, ...)连接成一个字符串
SELECT user_id, CONCAT(UPPER(SUBSTRING(name,1,1)),LOWER(SUBSTRING(name,2))) name
FROM Users
ORDER BY user_id

In [ ]:
# 1667. 修复表中的名字
# https://leetcode.cn/problems/fix-names-in-a-table/?envType=study-plan-v2&envId=sql-free-50

import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users["name"] = users["name"].str[0].str.upper() + users["name"].str[1:].str.lower()
    return users.sort_values("user_id")

In [ ]:
-- 1527. 患某种疾病的患者
-- https://leetcode.cn/problems/patients-with-a-condition/description/?envType=study-plan-v2&envId=sql-free-50

SELECT patient_id, patient_name, conditions
FROM Patients
WHERE conditions LIKE 'DIAB1%' OR conditions LIKE '% DIAB1%'

In [ ]:
-- 196. 删除重复的电子邮箱
-- https://leetcode.cn/problems/delete-duplicate-emails/description/?envType=study-plan-v2&envId=sql-free-50

DELETE A
FROM Person A, Person B
WHERE A.email = B.email
AND A.id>B.id