In [ ]:
-- 1757. 可回收且低脂的产品
-- https://leetcode.cn/problems/recyclable-and-low-fat-products/description/?envType=study-plan-v2&envId=sql-free-50

SELECT product_id
FROM Products
WHERE low_fats='Y' AND recyclable='Y'

In [ ]:
-- 584. 寻找用户推荐人
-- https://leetcode.cn/problems/find-customer-referee/?envType=study-plan-v2&envId=sql-free-50

-- SELECT name
-- FROM Customer
-- WHERE name NOT IN(
--     SELECT referee_id
--     FROM Customer
--     WHERE id=2 AND referee_id is not NULL
-- )

SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL

In [ ]:
-- 595. 大的国家
-- https://leetcode.cn/problems/big-countries/description/?envType=study-plan-v2&envId=sql-free-50

SELECT name, population, area
FROM World
WHERE area>=3000000 OR population>=25000000

In [ ]:
-- 1148. 文章浏览 I
-- https://leetcode.cn/problems/article-views-i/description/?envType=study-plan-v2&envId=sql-free-50

SELECT DISTINCT(viewer_id) id
FROM Views
WHERE author_id=viewer_id
ORDER BY id ASC

In [ ]:
-- 1683. 无效的推文
-- https://leetcode.cn/problems/invalid-tweets/?envType=study-plan-v2&envId=sql-free-50

-- 注意 length 函数返回字符串 str 的字节数，某些字符包含多于 1 个字节
SELECT tweet_id
FROM Tweets
WHERE CHAR_LENGTH(content)>15

In [ ]:
-- 1378. 使用唯一标识码替换员工ID
-- https://leetcode.cn/problems/replace-employee-id-with-the-unique-identifier/description/?envType=study-plan-v2&envId=sql-free-50

SELECT B.unique_id, A.name
FROM Employees A LEFT JOIN EmployeeUNI B on A.id=B.id

In [ ]:
-- 1068. 产品销售分析 I
-- https://leetcode.cn/problems/product-sales-analysis-i/description/?envType=study-plan-v2&envId=sql-free-50

SELECT B.product_name, A.year, A.price
FROM Sales A LEFT JOIN Product B on A.product_id=B.product_id

In [ ]:
-- 1581. 进店却未进行过交易的顾客
-- https://leetcode.cn/problems/customer-who-visited-but-did-not-make-any-transactions/?envType=study-plan-v2&envId=sql-free-50

-- 使用聚合函数（如 COUNT()、SUM()、AVG() 等）时，通常需要配对 GROUP BY 子句，除非你想对整个结果集进行聚合。
SELECT A.customer_id, COUNT(*) count_no_trans
FROM Visits A LEFT JOIN Transactions B
ON A.visit_id = B.visit_id
WHERE B.transaction_id IS NULL
GROUP BY A.customer_id

In [ ]:
-- 197. 上升的温度
-- https://leetcode.cn/problems/rising-temperature/description/?envType=study-plan-v2&envId=sql-free-50

SELECT B.id Id
FROM Weather A, Weather B
WHERE DATEDIFF(B.recordDate, A.recordDate) = 1
AND A.temperature < B.temperature

In [ ]:
-- 1661. 每台机器的进程平均运行时间
-- https://leetcode.cn/problems/average-time-of-process-per-machine/description/?envType=study-plan-v2&envId=sql-free-50

SELECT a.machine_id,
ROUND(AVG(a.timestamp - b.timestamp),3) AS processing_time
FROM Activity a
JOIN Activity b 
ON
a.machine_id = b.machine_id AND
a.process_id = b.process_id AND
a.activity_type = 'end' AND
b.activity_type = 'start'
GROUP BY a.machine_id