In [ ]:
-- 176. 第二高的薪水
-- https://leetcode.cn/problems/second-highest-salary/description/?envType=study-plan-v2&envId=sql-free-50

SELECT IFNULL(
    (
        SELECT A.salary
        FROM Employee A
        WHERE 1 = (
            SELECT COUNT(DISTINCT B.salary)
            FROM Employee B
            WHERE B.salary > A.salary
        )
        LIMIT 1
    ), NULL
) AS SecondHighestSalary

In [ ]:
-- 1484. 按日期分组销售产品
-- https://leetcode.cn/problems/group-sold-products-by-the-date/description/?envType=study-plan-v2&envId=sql-free-50

-- GROUP_CONCAT(
--     DISTINCT expression1
--     ORDER BY expression2
--     SEPARATOR sep
-- )
SELECT
    sell_date,
    COUNT(DISTINCT(product)) num_sold,
    GROUP_CONCAT(
        DISTINCT product
        ORDER BY product
        SEPARATOR ','
    ) products
FROM Activities
GROUP BY sell_date
ORDER BY sell_date

In [ ]:
-- 1327. 列出指定时间段内所有的下单产品
-- https://leetcode.cn/problems/list-the-products-ordered-in-a-period/description/?envType=study-plan-v2&envId=sql-free-50